jobfeed/kununu-jobs.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="jobs">
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element name="job">
          <xs:complexType>
            <xs:all>
              <xs:element type="xs:string" name="id"/>
              <xs:element type="xs:string" name="title"/>
              <xs:element type="xs:string" name="location"/>
              <xs:element type="xs:string" name="country"/>
              <xs:element type="xs:string" name="company"/>
              <xs:element type="xs:string" name="employment"/>
              <xs:element type="xs:string" name="plaintext"/>
              <xs:element type="xs:string" name="content"/>
              <xs:element type="xs:string" name="css" minOccurs="0"/>
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
